In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [6]:
url='https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city'
req=requests.get(url)
req

In [7]:
soup=BeautifulSoup(req.text,'html')

In [13]:
soup.find('div',attrs={'class':'title-line'}).strong.span.text   #BHK info

'3 '

In [14]:
bhk_inf=soup.findAll('div',attrs={'class':'title-line'})
BHK_info=[i.strong.span.text.strip() for i in bhk_inf]
BHK_info

['3',
 '2',
 '2',
 '2',
 '3',
 '3',
 '4',
 '3',
 'Residential Plot',
 '3',
 '4',
 '2',
 '2',
 '3',
 '3',
 '3',
 '3',
 '4',
 '3',
 '4']

In [15]:
soup.find('span',attrs={'itemprop':'addressLocality'}).text   #loc_info

'Manikonda'

In [17]:
loc_inf=soup.findAll('span',attrs={'itemprop':'addressLocality'})
LOC_info=[i.text for i in loc_inf]
LOC_info

['Manikonda',
 'Shaikpet',
 'Bachupally',
 'Shamshabad',
 'Tellapur',
 'Attapur',
 'Serilingampally',
 'Yapral',
 'Sheriguda',
 'Manikonda',
 'Bachupally',
 'Ghatkesar',
 'Attapur',
 'Kompally',
 'Shankarpalli',
 'Nanakramguda',
 'Mallampet',
 'Hitech City',
 'Manikonda',
 'Shaikpet']

In [18]:
soup.find('span',attrs={'class':'seller-type'}).text  #owner info

'BUILDER'

In [19]:
own_inf=soup.findAll('span',attrs={'class':'seller-type'})
OWN_inf=[i.text for i in own_inf]
OWN_inf

['BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER']

In [20]:
soup.find('div',attrs={'data-type':'price-link'}).text  #price info

' 1.6 Cr'

In [22]:
price=soup.findAll('div',attrs={'data-type':'price-link'})
Price_info=[i.text for i in price]
Price_info

[' 1.6 Cr',
 ' 1.43 Cr',
 ' 56.98 L',
 ' 43.6 L',
 ' 65.82 L',
 ' 1.65 Cr',
 ' 6.22 Cr',
 ' 1.41 Cr',
 ' 1.11 Cr',
 ' 95.35 L',
 ' 1.45 Cr',
 ' 56.25 L',
 ' 72.05 L',
 ' 84.13 L',
 ' 1.46 Cr',
 ' 96.22 L',
 ' 63.11 L',
 ' 2.9 Cr',
 ' 97.11 L',
 ' 3.04 Cr']

In [24]:
soup.find('span',attrs={'class':'val'})

In [26]:
soup.find('td',attrs={'class':'size'}).span.text    #area in sqft

'2810 '

In [27]:
area=soup.findAll('td',attrs={'class':'size'})
Area_sqft=[i.span.text.strip() for i in area]
Area_sqft

['2810',
 '1495',
 '1295',
 '890',
 '1431',
 '2540',
 '4147',
 '2615',
 '3150',
 '1538',
 '2300',
 '1250',
 '1310',
 '1790',
 '3120',
 '1415',
 '1503',
 '3498',
 '1704',
 '2965']

In [28]:
soup.find('td',attrs={'class':'val'}).text  #constr status

'Under Construction'

In [31]:
con_inf=soup.findAll('td',attrs={'class':'val'})
CON_info=[i.text for i in con_inf]
CON_info

['Under Construction',
 'Ready to move',
 'Under Construction',
 'Under Construction',
 'Under Construction',
 'Under Construction',
 'Under Construction',
 'Under Construction',
 'New',
 'Under Construction',
 'Under Construction',
 'Under Construction',
 'Under Construction',
 'Under Construction',
 'Under Construction',
 'Ready to move',
 'Under Construction',
 'Ready to move',
 'Under Construction',
 'Ready to move']

In [35]:
data=pd.DataFrame({'Construction':CON_info,
                  'Area_in_Sqft':Area_sqft,
                  'Price':Price_info,
                  'Owner_info':OWN_inf,
                  'Locality':LOC_info,
                  'BHK':BHK_info})
data

,Construction,Area_in_Sqft,Price,Owner_info,Locality,BHK
0,Under Construction,2810,1.6 Cr,BUILDER,Manikonda,3
1,Ready to move,1495,1.43 Cr,BUILDER,Shaikpet,2
2,Under Construction,1295,56.98 L,BUILDER,Bachupally,2
3,Under Construction,890,43.6 L,BUILDER,Shamshabad,2
4,Under Construction,1431,65.82 L,BUILDER,Tellapur,3
5,Under Construction,2540,1.65 Cr,BUILDER,Attapur,3
6,Under Construction,4147,6.22 Cr,BUILDER,Serilingampally,4
7,Under Construction,2615,1.41 Cr,BUILDER,Yapral,3
8,New,3150,1.11 Cr,BUILDER,Sheriguda,Residential Plot
9,Under Construction,1538,95.35 L,BUILDER,Manikonda,3
10,Under Construction,2300,1.45 Cr,BUILDER,Bachupally,4
11,Under Construction,1250,56.25 L,BUILDER,Ghatkesar,2
12,Under Construction,1310,72.05 L,BUILDER,Attapur,2
13,Under Construction,1790,84.13 L,BUILDER,Kompally,3
14,Under Construction,3120,1.46 Cr,BUILDER,Shankarpalli,3
15,Ready to move,1415,96.22 L,BUILDER,Nanakramguda,3
16,Under Construction,1503,63.11 L,BUILDER,Mallampet,3
17,Ready to move,3498,2.9 Cr,BUILDER,Hitech City,4
18,Under Construction,1704,97.11 L,BUILDER,Manikonda,3
19,Ready to move,2965,3.04 Cr,BUILDER,Shaikpet,4

In [36]:
data.to_csv('apartment_data.csv')

In [37]:
# To get data from all pages
# First generate url

#https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624536394722
#https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624536394722&page=4
#https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624536394722&page=3


import time

base_url='https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624536394722'

for i in range(1,6):
    print(base_url+'&page='+str(i))

https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624536394722&page=1
https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624536394722&page=2
https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624536394722&page=3
https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624536394722&page=4
https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?_=1624536394722&page=5

In [53]:
# To make request

owner_info=[]
no_BHK=[]
constr=[]
Ar=[]
loc=[]
Cost=[]

for i in range(1,6):
    time.sleep(3)
    url=base_url+'&page='+str(i)
    req=requests.get(url)
    soup=BeautifulSoup(req.text,'html')
    
    
    bhk_inf=soup.findAll('div',attrs={'class':'title-line'})
    for j in bhk_inf:
        no_BHK.append(j.strong.span.text)
        
    loc_inf=soup.findAll('span',attrs={'itemprop':'addressLocality'})
    for k in loc_inf:
        loc.append(k.text)
        
    own_inf=soup.findAll('span',attrs={'class':'seller-type'})
    for l in own_inf:
        owner_info.append(l.text)
        
    price=soup.findAll('div',attrs={'data-type':'price-link'})
    for m in price:
        Cost.append(m.text)
        
    area=soup.findAll('td',attrs={'class':'size'})
    for n in area:
        Ar.append(n.span.text.strip())
        
    
    con_inf=soup.findAll('td',attrs={'class':'val'})
    for o in con_inf:
        constr.append(o.text)

In [54]:
print(len(no_BHK))

100

In [55]:
# creating dataframe

datas=pd.DataFrame({'Construction':constr,
                  'Area_in_Sqft':Ar,
                  'Price':Cost,
                  'Owner_info':owner_info,
                  'Locality':loc,
                  'BHK':no_BHK})
datas

,Construction,Area_in_Sqft,Price,Owner_info,Locality,BHK
0,Under Construction,2810,1.6 Cr,BUILDER,Manikonda,3
1,Ready to move,1495,1.43 Cr,BUILDER,Shaikpet,2
2,Under Construction,1295,56.98 L,BUILDER,Bachupally,2
3,Under Construction,890,43.6 L,BUILDER,Shamshabad,2
4,Under Construction,1431,65.82 L,BUILDER,Tellapur,3
...,...,...,...,...,...,...
95,Ready to move,1870,1.66 Cr,OWNER,Nanakramguda,3
96,Under Construction,1800,1 Cr,OWNER,Kondakal,4
97,Ready to move,864,32 L,OWNER,Jeedimetla,2
98,Ready to move,1220,65 L,OWNER,Suchitra,2
99,Resale,1500,28 L,OWNER,Shankarpalli,Residential Plot

In [57]:
datas.to_csv('Makaan_data.csv')